#!/bin/bash
set -e

ROOT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")/.." && pwd)"
cd "$ROOT_DIR"

EXTENSION_NAME="{{ extension_uid }}"
EXTENSION_DIR="$HOME/.local/share/gnome-shell/extensions/{{ extension_fqdn }}"

# Pack extension
pnpm run clean
pnpm run build

cp -r schemas dist/
cp metadata.json dist/
cd dist
zip ../${EXTENSION_NAME}.zip -9r .
cd ..
